.background{
  background-color: #eee;
  min-height: 100vh;
}
.card{
  box-shadow: none;
}
card .card-content {
  padding: 24px 100px;
}
.center-block{
  max-width: 650px;
  margin: 0 auto;
}
.header{
  padding: 25px 0 25px 1px;
}
.main{
  background-color: white;
  margin-bottom: 140px;
}
.tabs .tab a {
  color: #b8b7b8;
  font-family: 'Roboto-Medium', sans-serif;
  background-color: #e9e5e9;
}
.tabs , .tabs .tab a.active, .tabs .tab a.active:hover {
  background-color: transparent;
  color: #2d1c2b;
}
.tabs .tab a:hover{
  color: #2d1c2b;
  background-color: #e9e5e9;
}
